.page {
    height: fit-content;
    background-image: url("../../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #9BA6BC;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #f0f8ff71;
    width: 600px;
    height: fit-content;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.t-form {
    font-size: 40px;
    font-weight: 600;
    color: #032D60;
}
.input-cadastro {
    width: 70%;
    border: 1px solid #9BA6BC;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(168, 168, 168);
}
.checkbox {
    display: flex;
    gap: 40px;
}
.checkbox-item {
    display: flex;
    gap: 10px;
}
.itens-escondidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.itens-escondidos a {
    color: #0D4180;
    font-weight: 500;
}
.itens-escondidos a:hover {
    text-decoration: underline;
}
.botao-cadastrar {
    text-align: center;
    width: 250px;
    height: 40px;
    background: #0176D3;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 30px;
    transition: transform .6s;
}
.botao-cadastrar:hover {
    transform: scale(1.1);
    background: #0869E7;
}
.logar-p {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.logar-p a {
    color: #0869E7;
    font-weight: 500;
}
.logar-p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 745px) {
    .form {
        gap: 15px;
        padding: 15px;
        width: 90%;
    }
    .t-form {
        font-size: 30px;
    }
    .input-cadastro {
        width: 80%;
        font-size: 14px;
    }
    .botao-cadastrar {
        font-size: 15px;
        width: 130px;
    }
    .logar-p {
        margin-top: 5px;
        font-size: 11px;
    }
    .checkbox {
        gap: 20px;
        font-size: 12px;
    }
    .checkbox-item {
        gap: 5px;
    }
    .itens-escondidos > a {
        font-size: 13px;
    }
}
@media screen and (max-width: 440px) {
    .input-cadastro {
        font-size: 13px;
        padding: 8px;
    }
    .botao-cadastrar {
        font-size: 13px;
    }
    .itens-escondidos > a {
        font-size: 10px;
    }
    .checkbox {
        font-size: 9px;
    }
}