.page {
    height: fit-content;
    background-image: url("../../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid var(--cor2);
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #f0f8ff71;
    width: 600px;
    height: fit-content;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.t-form {
    font-size: 40px;
    font-weight: 600;
    color: var(--cor3);
}
.input-novaempresa {
    width: 70%;
    border: 1px solid var(--cor2);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(168, 168, 168);
}
.p-checkbox {
    font-weight: 600;
    color: var(--cor10);
}
.checkbox {
    display: flex;
    gap: 40px;
}
.checkbox-item {
    display: flex;
    gap: 10px;
}
.itens-escondidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.itens-escondidos a {
    color: var(--cor7);
    font-weight: 500;
}
.itens-escondidos a:hover {
    text-decoration: underline;
}
.botao-cadastrar {
    text-align: center;
    width: 250px;
    height: 40px;
    background: var(--cor8);
    font-size: 18px;
    color: var(--cor15);
    font-weight: 600;
    border-radius: 30px;
    transition: transform .6s;
}
.botao-cadastrar:hover {
    transform: scale(1.1);
    background: var(--cor11);
}
.voltar-p {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.voltar-p a {
    color: var(--cor11);
    font-weight: 500;
}
.voltar-p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 745px) {
    .form {
        gap: 15px;
        padding: 15px;
        width: 90%;
    }
    .t-form {
        font-size: 30px;
    }
    .input-novaempresa {
        width: 80%;
        font-size: 14px;
    }
    .botao-cadastrar {
        font-size: 15px;
        width: 130px;
    }
    .voltar-p {
        margin-top: 5px;
        font-size: 11px;
    }
    .t-form {
        font-size: 30px;
    }
    .input-novaempresa {
        width: 85%;
    }
    .checkbox {
        font-size: 12px;
        gap: 10px;
    }
    .checkbox-item {
        gap: 5px;
    }
    .botao-cadastrar {
        width: 200px;
    }
}