.page {
    height: fit-content;
    background-image: url("../../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #a3a3a3;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.445);
    width: 600px;
    height: fit-content;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.t-form {
    font-size: 40px;
    font-weight: 600;
    color: rgb(8, 8, 104);
}
.input-novaempresa {
    width: 70%;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(168, 168, 168);
}
.p-checkbox {
    font-weight: 600;
    color: rgb(0, 0, 78);
}
.checkbox {
    display: flex;
    gap: 40px;
}
.checkbox-item {
    display: flex;
    gap: 10px;
}
.itens-escondidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.itens-escondidos a {
    color: rgb(0, 16, 85);
    font-weight: 500;
}
.itens-escondidos a:hover {
    text-decoration: underline;
}
.botao-cadastrar {
    text-align: center;
    width: 250px;
    height: 40px;
    background: rgb(2, 123, 204);
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 30px;
    transition: transform .6s;
}
.botao-cadastrar:hover {
    transform: scale(1.1);
    background: rgb(2, 103, 170);
}
.voltar-p {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.voltar-p {
    color: rgb(3, 7, 20)000;
}
.voltar-p a {
    color: rgb(1, 125, 207);
    font-weight: 500;
}
.voltar-p a:hover {
    text-decoration: underline;
}