.navbar {
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    background-color: #c4e8f0;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #9BA6BC;
    z-index: 1;
}
.itens-esquerda {
    display: flex;
    align-items: center;
}
.links-paginas {
    display: flex;
    margin-left: 30px;
    gap: 18px;
}
.link-pagina {
    color: #032D60;
    font-weight: 600;
}
.acessibilidade {
    margin-left: 40px;
    display: flex;
    align-items: center;
}
.acessibilidade > p {
    margin-left: 4px;
    color: #032D60;
    font-weight: 600;
}
.itens-direita {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-left: 35px;
}
.menu-hamburger {
    border: none;
    background: none;
    border-top: 4px solid #032D60;
    cursor: pointer;
    display: none;
}
.menu-hamburger::before, .menu-hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 4px;
    background: #032D60;
    margin-top: 6px;
}
.menu-dropdown {
    display: none;
}
.login-dropdown > a > p {
    font-size: 18px;
}
.botoes-acessibilidade {
    background-color: #e9f1fd;
    position: absolute;
    bottom: -101px;
    height: 100px;
    width: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid black;
}
.botoes-acessibilidade > button {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    padding-left: 20px;
}
.tamanho {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.botoes-acessibilidade > button:hover {
    background-color: #cddef7;
}
.cores:hover {
    border-bottom: 1px solid black;
}
.tamanho:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid black;
}
@media screen and (max-width: 830px) {
    .menu-hamburger {
        display: block;
    }
    .links-paginas {
        display: none;
    }
    .icone-login {
        display: none;
    }
    .menu-dropdown {
        width: 250px;
        height: 370px;
        flex-direction: column;
        display: flex;
        position: fixed;
        right: 0;
        top: 70px;
        background-color: #e9f1fd;
        justify-content: space-between;
        border-bottom-left-radius: 20px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
    .links-paginas-dropdown {
        display: flex;
        flex-direction: column;
    }
    .links-paginas-dropdown > a {
        font-size: 18px;
        width: 100%;
        padding: 15px;
        padding-left: 30px;
    }
    .links-paginas-dropdown > a:hover {
        background-color: #cddef7;
    }
    .login-dropdown > a{
        position: relative;
        bottom: 20px;
        left: 25px;
        display: flex;
        gap: 10px;
    }
    .login-dropdown > a > p {
        font-weight: 600;
    }
}