.navbar {
    position: fixed;
    height: 70px;
    width: 100%;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    background-color: #c4e8f0;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #9BA6BC;
}
.itens-esquerda {
    display: flex;
    align-items: center;
}
.links-paginas {
    display: flex;
    margin-left: 30px;
    gap: 18px;
}
.link-pagina {
    color: #032D60;
    font-weight: 600;
}
.acessibilidade {
    margin-left: 80px;
    display: flex;
    align-items: center;
}
.acessibilidade > p {
    margin-left: 4px;
    color: #032D60;
    font-weight: 600;
}
.itens-direita {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-left: 35px;
}