.alert-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
  }
  
  .alert {
    position: relative;
    padding: 15px;
    background-color: #3698f4;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 30px;
  }

  .alert > p {
    color: white;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }