.page {
    height: fit-content;
    background-image: url("../../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #a3a3a3;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.445);
    width: 600px;
    height: fit-content;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.t-form {
    font-size: 40px;
    font-weight: 600;
    color: rgb(8, 8, 104);
}
.input-login {
    width: 70%;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(168, 168, 168);
}
.botao-logar {
    text-align: center;
    width: 250px;
    height: 40px;
    background: rgb(2, 123, 204);
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 30px;
    transition: transform .6s;
}
.botao-logar:hover {
    transform: scale(1.1);
    background: rgb(2, 103, 170);
}
.cadastrar-p {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.cadastrar-p {
    color: rgb(3, 7, 20)000;
}
.cadastrar-p a {
    color: rgb(1, 125, 207);
    font-weight: 500;
}
.cadastrar-p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 570px) {
    .form {
        padding: 8px;
        gap: 15px;
    }
    .t-form {
        font-size: 30px;
    }
    .input-login {
        width: 80%;
        font-size: 14px;
    }
    .botao-logar {
        font-size: 15px;
        width: 130px;
    }
    .cadastrar-p {
        font-size: 11px;
    }
}