.lista-impacto, .lista-valores {
    margin-top: 30px;
    margin-bottom: 40px;
}
.lista-impacto > li, .lista-valores > li {
    list-style: circle;
    margin-bottom: 12px;
    color: var(--cor16);
}
li::marker {
    color: var(--cor13);
}
.lista-impacto > li > strong, .lista-valores > li > strong {
    font-size: 18px;
    color: var(--cor10);
}