.funcionalidade {
    width: 250px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imagem-funcionalidade {
    margin: auto;
}

@media screen and (max-width: 678px) {
    .funcionalidade {
        width: fit-content;
    }
    .imagem-funcionalidade {
        width: 310px;
        height: 170px;
    }
    .legenda-funcionalidade {
        font-size: 16px;
    }
}